.newChat{
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
}
.oldChat{
        padding: 20px;
        background-color: #3692f4;
        color: rgb(44, 190, 19);
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
}